@model IEnumerable<E_Library.Models.AuthUser.UserIndexVM>

@{
    ViewData["Title"] = "Index";
    int serialNo = 1;
}


<h1 style="text-align:center;color:green;">List of User</h1>

<p>
    <a asp-action="Create"  class=" btn btn-outline-success">Create New User</a>
</p>
<div>
    <table class="table table-striped table table-bordered border" id="myTable">
        <thead class="text-center">
            <tr class="table-info">
                <th>Serial No</th>
                <th>Name</th>
                <th>@Html.DisplayNameFor(c=>c.UserName)</th>
                <th>@Html.DisplayNameFor(c=>c.RegNo)</th>
                <th>@Html.DisplayNameFor(c=>c.DeptName)</th>
                <th>@Html.DisplayNameFor(c=>c.Email)</th>
                <th>@Html.DisplayNameFor(c=>c.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(c=>c.Address)</th>
                <th>User Status</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var data in Model)
            {
               
                    <tr>
                          <td>@(serialNo++)</td>
                       
                        <td>@data.FirstName @data.MiddleName @data.LastName</td>
                        <td>@data.UserName</td>
                        <td>@data.RegNo</td>
                        <td>@data.DeptName</td>
                        <td>@data.Email</td>
                        <td>@data.PhoneNumber</td>
                        <td>@data.Address</td>

                        @if (@data.LockoutEnd > DateTime.Now && data.LockoutEnd != null)
                        {
                            <td style="color:red">InActive User</td>
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Active" class="btn btn-primary" asp-route-id="@data.Id"><i class="far fa-edit"></i></a>
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@data.Id"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </td>

                        }
                        else
                        {
                            <td style="color:green">Active User</td>

                            <partial name="_PartialView" model="@data.Id" />
                        }
                   


                    </tr>
               
            }
        </tbody>

    </table>
</div>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>

    <script type="text/javascript">

        $(function () {
            var add = '@TempData["Save"]'
            if (add != '') {
                alertify.success(add);

            }
        })
    </script>

    <script type="text/javascript">
        $(function () {
            var edit = '@TempData["Update"]'
            if (edit != '') {
                alertify.warning(edit);
            }
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var done = '@TempData["Delete"]'
            if (done != '') {
                alertify.error(done);

            }
        })
    </script>

    <script type="text/javascript">
        $(function () {
            var done = '@TempData["lock"]'
            if (done != '') {
                alertify.error(done);

            }
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var done = '@TempData["lockEdit"]'
            if (done != '') {
                alertify.success(done);

            }
        })
    </script>


}
