@model E_Library.Models.BooksAuthor.AuthorDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author DetailsVM</h4>
    <hr />
    <dl class="row">
       
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

    </dl>
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Edit Data</a>
<a class="btn btn-info" asp-action="Index" asp-controller="Author"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Back To List</a>